
#police {
color: rgba(144, 55, 55, 0.82);
}

body {
  color: rgba(144, 55, 55, 0.82);

}

header {
    background-image: url("/../images/Network.png");
}

#homeHeading {
  margin-top: 100px;
}

.bg-primary {
background: #F2775E;
}
